# Column Descriptions

* Column Name	Description
* ACTION	ACTION is 1 if the resource was approved, 0 if the resource was not
* RESOURCE	An ID for each resource
* MGR_ID	The EMPLOYEE ID of the manager of the current EMPLOYEE ID record; an employee may have only one manager at a time
* ROLE_ROLLUP_1	Company role grouping category id 1 (e.g. US Engineering)
* ROLE_ROLLUP_2	Company role grouping category id 2 (e.g. US Retail)
* ROLE_DEPTNAME	Company role department description (e.g. Retail)
* ROLE_TITLE	Company role business title description (e.g. Senior Engineering Retail Manager)
* ROLE_FAMILY_DESC	Company role family extended description (e.g. Retail Manager, Software Engineering)
* ROLE_FAMILY	Company role family description (e.g. Retail Manager)
* ROLE_CODE	Company role code; this code is unique to each role (e.g. Manager)

In [39]:
import pandas as pd
from __future__ import division

In [6]:
train = pd.read_csv('train.csv')

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32769 entries, 0 to 32768
Data columns (total 10 columns):
action              32769 non-null int64
resource            32769 non-null int64
mgr_id              32769 non-null int64
role_rollup_1       32769 non-null int64
role_rollup_2       32769 non-null int64
role_deptname       32769 non-null int64
role_title          32769 non-null int64
role_family_desc    32769 non-null int64
role_family         32769 non-null int64
role_code           32769 non-null int64
dtypes: int64(10)
memory usage: 2.5 MB

In [32]:
train.describe()

,action,resource,mgr_id,role_rollup_1,role_rollup_2,role_deptname,role_title,role_family_desc,role_family,role_code
count,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000
mean,0.942110,42923.916171,25988.957979,116952.627788,118301.823156,118912.779914,125916.152644,170178.369648,183703.408893,119789.430132
std,0.233539,34173.892702,35928.031650,10875.563591,4551.588572,18961.322917,31036.465825,69509.462130,100488.407413,5784.275516
min,0.000000,0.000000,25.000000,4292.000000,23779.000000,4674.000000,117879.000000,4673.000000,3130.000000,117880.000000
25%,1.000000,20299.000000,4566.000000,117961.000000,118102.000000,118395.000000,118274.000000,117906.000000,118363.000000,118232.000000
50%,1.000000,35376.000000,13545.000000,117961.000000,118300.000000,118921.000000,118568.000000,128696.000000,119006.000000,118570.000000
75%,1.000000,74189.000000,42034.000000,117961.000000,118386.000000,120535.000000,120006.000000,235280.000000,290919.000000,119348.000000
max,1.000000,312153.000000,311696.000000,311178.000000,286791.000000,286792.000000,311867.000000,311867.000000,308574.000000,270691.000000

In [33]:
train.head()

,action,resource,mgr_id,role_rollup_1,role_rollup_2,role_deptname,role_title,role_family_desc,role_family,role_code
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

# Number of unique elements per column

In [34]:
for col in train.columns:
    print str(col) + " -> " + str(len(train[col].unique()))

action -> 2
resource -> 7518
mgr_id -> 4243
role_rollup_1 -> 128
role_rollup_2 -> 177
role_deptname -> 449
role_title -> 343
role_family_desc -> 2358
role_family -> 67
role_code -> 343

# Majority Class

In [43]:
len(train[train['action']==1])/len(train)

0.9421099209618847

* Clearly indicates that most of the people got the access they wanted!!
* 94% is majority class.. too much class imbalance

# Grouping

In [41]:
train.groupby('action').mean()

,resource,mgr_id,role_rollup_1,role_rollup_2,role_deptname,role_title,role_family_desc,role_family,role_code
action,,,,,,,,,
0,42898.348972,26737.799157,117553.749605,118206.734844,118834.391144,127189.345809,169178.854507,183499.856089,119389.313126
1,42925.487205,25942.943735,116915.690496,118307.666073,118917.596690,125837.918405,170239.787121,183715.916656,119814.016228

* Does this mean.. for greater resource_id, getting an action=1 is less probable. Since 94% is majority class and even then resource mean looks almost the same!

In [ ]:
train.plot(kind='line',x=train['resource'],y=train['action'])

In [45]:
train.groupby('action').median()

,resource,mgr_id,role_rollup_1,role_rollup_2,role_deptname,role_title,role_family_desc,role_family,role_code
action,,,,,,,,,
0,34924,16588,117961,118300,118810,118563,123784,119784,118399
1,35376,13150,117961,118300,118929,118568,129017,119006,118570

* Does this

In [ ]:
%bash
amazon-employee-access-challenge